* {
margin: 0 auto;
background: rgb(46, 44, 44);
color: rgb(255, 255, 255);
font-family: 'Oswald', sans-serif;
}


h1 {
    text-align: center;
    margin-bottom: 50px;
}

.number-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(10, 52px);
}

.numbers {
    background-color: rgb(112, 112, 112);
    height: 50px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    cursor: pointer;
}

.numbers:hover{
    background: rgb(255, 255, 255);
    color: black;
}

#random-number {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid white;
    font-size: 25px;
    margin-bottom: 50px;
}

#random-number:hover {
    background: rgb(255, 255, 255);
    color: black;
}

.selectedNum {
    background: turquoise;
    color: black;
}

#user-random-numbers {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(8, 52px);
    margin-bottom: 50px;
}

.numbers-user {
    background-color: rgb(112, 112, 112);
    height: 50px;
    width: 50px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
    cursor: pointer;
}

#random-num {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}


#user-main-container {
    display: flex;
    flex-direction: column;
} 

#user-board-textarea {
    width: 125px;
    height: 25px;
    margin-bottom: 20px;
}

#user-board-button {
    margin-bottom: 20px;
}

#random-number-user {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 50px;
    width: 200px;
    text-align: center;
    border: 2px solid white;
    font-size: 25px;
    margin-bottom: 50px;
}


#random-number-user:hover {
    background: rgb(255, 255, 255);
    color: black;
}